* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121113;
    color: #fff;
    font-family: sans-serif;
    box-sizing: border-box;

}

.border {
    border: 1px solid red;
}

.inicio{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    padding: 0 10%;
    background: linear-gradient(63.13deg, #121212 51.04%, #4ac5e4 51.05%);
}

.inicio-content{
    text-align: center;
    width: 50%;
}

.inicio-image{
    border-radius: 50%;
}


